<%= form_for(@page) do |f| %>
<div id="main-col">
  <div id="white-container" class="box-shadow">
    <%= f.fields_for :versions do |v| %>
    <%= v.text_field :title, :placeholder => 'PageName', :class =>
    'fat-input' %>
    <%= v.text_area :content, :placeholder => 'Page content...', :class =>
    'page-edit' %>
    <%= v.hidden_field :version, :value => 1 %>
    <% end %>
  </div>
</div>
<div id="sidebar">
  <% button_txt = @page.new_record? ? 'Create page' : 'Update page' %>
  <%= f.submit button_txt, :class => 'btn blue-btn' %>
  <% if @page.new_record? %>
  <%= link_to content_tag(:div, 'Cancel', :class=>'btn red-btn'), root_path %>
  <% else %>
  <%= link_to content_tag(:div, 'Delete', :class=>'btn red-btn'), @page,
  :confirm => 'Are you sure?',
  :method => :delete %>
  <% end %>
</div>
<% end %>
<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
