<% if @page.new_record? %>
<%= form_tag(pages_path, :method => :post) %>
<% else %>
<%= form_tag(page_path(@page), :method => :put) %>
<% end %>
<div id="main-col">
  <div id="white-container" class="box-shadow">
    <%= text_field_tag 'title', @version.title, :placeholder => 'PageName', :class =>
    'fat-input' %>
      <%= text_area_tag 'content', @version.content, :placeholder => 'Page content...', :class =>
    'page-edit' %>
      <%= check_box_tag 'new_version' %><%= label_tag 'new_version',
    'new version' %>
    <%= hidden_field_tag :version, @version.version %>
  </div>
</div>
<div id="sidebar">
  <% button_txt = @page.new_record? ? 'Create page' : 'Update page' %>
  <%= submit_tag button_txt, :class => 'btn blue-btn' %>
  <% if @page.new_record? %>
  <%= link_to content_tag(:div, 'Cancel', :class=>'btn red-btn'), root_path %>
  <% else %>
  <%= link_to content_tag(:div, 'Delete', :class=>'btn red-btn'), @page,
  :confirm => 'Are you sure?',
  :method => :delete %>
  <% end %>
</div>
<%= javascript_include_tag "nicEdit-latest" %>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
