<div id="main-col">
  <div id="white-container" class="box-shadow">
    <h1 class="text-shadow"><%= @page.title %></h1>
    <p><%= @page.content.html_safe %></p>
    <%= image_tag 'stamp.jpg', :class => 'stamp' %>
    </div>
</div>
<div id="sidebar">
  <div id="page-info">
    <%= render :partial => 'permissions' %>
  </div>
  <%= link_to(content_tag(:div, 'Edit', :class=>'btn blue-btn'),
  edit_page_path(@page)) %>
  <%= link_to content_tag(:div, 'Delete', :class=>'btn red-btn'), @page,
               :confirm => 'Are you sure?',
               :method => :delete %>
</div>
