<div id="main-col">
  <div id="white-container" class="box-shadow">
    <h1 class="text-shadow"><%= @version.title %></h1>
    <div id="page-content"><%= @version.content.html_safe %></div>
    <div id="comments">
      <h2>Comments</h2>
      <% if @comments.empty? %>
      <div class="text-center">No comments!</div>
      <% else %>
      <ul>
        <% @comments.each_with_index do |c, i| %>
        <li class="<%= oddity(i) %>"><strong><%= c.user.short_name_for(current_user) %></strong>
          <p><%= c.comment %></p>
          <div class="text-right tiny">
            <%= time_ago_in_words(c.updated_at)%> ago
            <% if current_user.owns?(c) %>
             | Delete
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
      <% end %>
      <%= form_tag(page_comments_path(@page), :method => :post) %>
      <%= text_area_tag 'comment', '', :placeholder => 'Comment...' %>
      <div class="text-right"><%= submit_tag 'Post comment', :class => 'btn blue-btn' %></div>
    </div>
    <%= image_tag 'stamp.jpg', :class => 'stamp' %>
  </div>
</div>
<div id="sidebar">
  <% if current_user.can_edit_page?(@page) %>
  <%= link_to(content_tag(:div, 'Edit', :class=>'btn blue-btn'),
  edit_page_path(@page)) %>
  <% end %>
  <div id="page-info">
    <%= render :partial => 'permissions' %>
  </div>
  <div id="version-widget" class="yellow-widget">
    <div class="title">Versions</div>
    <ul>
      <% i=0 %>
      <% @page.versions_grouped_by_version.each do |v, date| %>
      <li class="<%= oddity(i)%>">v<%= v
	       %><div class="version-time"><%= time_ago_in_words(date.first.created_at) %> ago</div></li>
      <% i+=1 %>
      <% end %>
    </ul>
  </div>
  <div id="log-widget" class="yellow-widget">
    <div class="title">Log</div>
    <ul>
      <% @actions.each_with_index do |a, i| %>
      <li class="<%= oddity(i) %> <%= a.action %>"><%= "#{a.action_past.capitalize} by #{a.user.short_name_for(current_user)}" %></br>
        <div class="text-right tiny"><%= time_ago_in_words(a.updated_at) %> ago</div></li>
      <% end %>
    </ul>
  </div>
  <% if current_user.can_edit_page?(@page) %>
  <%= link_to content_tag(:div, 'Delete', :class=>'btn red-btn'), @page,
  :confirm => 'Are you sure?',
  :method => :delete %>
  <% end %>
</div>
