<!DOCTYPE html>
<html>
  <head>
    <title>&#x266a; officiel</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="top-container">
      <div id="logo" class="dark-blue"><%= link_to "&#x266a; officiel".html_safe, root_path %></div>
      <div id="white-container" class="box-shadow">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
	<div class="fclear"></div>
      </div>
    </div>
  </body>
</html>
